<div class="img-container">
    <div class="overimg">
        <h1>Welcome to Vanderlei Global Bank</h1>
        <p> At Vanderlei Global Bank, we understand that extraordinary clients deserve extraordinary service. Our exclusive Wealth Management solutions are tailored for discerning individuals seeking personalized strategies, expert guidance, and absolute discretion.</p> 
        <p> By opening an account with us, you gain access to a dedicated team of financial specialists who will design bespoke plans to align with your goals and legacy. From investment management to asset protection and succession planning, our services are founded on trust, expertise, and confidentiality.</p>
        <p>Experience the pinnacle of financial excellence. Open your account today and let Vanderlei Global Bank be your trusted partner in preserving and growing your wealth.</p>
        <button mat-fab extended class="banner-button">Create Account</button>
    </div>
    <img src="assets/wealth-banner.jpg"/>
</div>