.header {
  overflow: hidden;
  background-color: #000320;
}

#logo {
  padding: 12px 12px;
  text-align: center;
  float: left;
}

.header-buttons {
  padding: 12px 12px;
  text-align: center;
  float: right;
}

.header-button {

}


.title {
  color: #E2E2E2;
  font-size: 32px;
}

.subtitle {
  font-size: 16px;
}

img {
  width: 50px;
  height: 50px;
}
